# Включаем mod_rewrite
RewriteEngine On

# Если запрашиваемый файл или папка существует — не переписывать
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Всё остальное перенаправляем на index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Опционально: запрет доступа к папкам с исходниками
<Directory "../src">
    Require all denied
</Directory>

<Directory "../templates_c">
    Require all denied
</Directory>